@font-face {
  font-family: 'notoserifcjksc-black';
  font-style: normal;
  font-weight: normal;
  src: local('notoserifcjksc-black'), url('https://sapp.flipboard.cn/fabulous/fonts/NotoSerifCJKsc-Black.otf') format('truetype');
}
@font-face {
  font-family: 'notoserifcjksc-bold';
  font-style: normal;
  font-weight: normal;
  src: local('notoserifcjksc-bold'), url('https://sapp.flipboard.cn/fabulous/fonts/NotoSerifCJKsc-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'notoserifcjksc-medium';
  font-style: normal;
  font-weight: normal;
  src: local('notoserifcjksc-medium'), url('https://sapp.flipboard.cn/fabulous/fonts/NotoSerifCJKsc-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'notoserifcjksc-extralight';
  font-style: normal;
  font-weight: normal;
  src: local('notoserifcjksc-extralight'), url('https://sapp.flipboard.cn/fabulous/fonts/NotoSerifCJKsc-ExtraLight.otf') format('truetype');
}